.trSurvoler{
    background-color: #e7eafc;
    color:#000;
    cursor: pointer;
}
.trUserRacc{
    background-color: #fff;
    cursor: pointer;
}
.desactiveClick{
    pointer-events: none;
    cursor: default;
}



@media (min-width: 1200px){
    .div-border{
        border-right:1px solid rgba(0, 0, 0, .05)
    }
}

@media (max-width: 1200px){
    .div-border{
        border-bottom:1px solid rgba(0, 0, 0, .05)
    }
}

